$green:     #207c01;
$yellow:    #fbe503;
$polar:     #dff4f7;
$blueDark:  #1c0063;
$red:       red;

$gray:      #5e5e5e;
$graylight: #b1b1b1;
$grayDark:  #343434;

$white:     #ffffff;

$breakpoints:
  sm 48rem,
  md 64rem,
  lg 120rem,
  xlg 168rem,
  newbreakpoint 168rem;

$flexboxgrid-max-width: 1680px;
