h1 {
  margin: 0;
  font-size: 3.8rem;
  letter-spacing: .1rem;

  a {
    color: $yellow;
    text-decoration: none;
    transition: 300ms ease all;

    &:hover {
      color: white;
    }
  }
}

h2 {
  color: $grayDark;
  font-size: 3.2rem;

  span {
    font-weight: normal;
  }
}
